@charset "UTF-8";
/*
 * Bootstrap Image Gallery Demo CSS 3.0.0
 * https://github.com/blueimp/Bootstrap-Image-Gallery
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */


.modal {
	overflow: auto;
	color: #333;
}
