@font-face {
	font-family: 'icons';
	src:url('../fonts/icons/icomoon.eot?-7rbvvc');
	src:url('../fonts/icons/icomoon.eot?#iefix-7rbvvc') format('embedded-opentype'),
		url('../fonts/icons/icomoon.woff?-7rbvvc') format('woff'),
		url('../fonts/icons/icomoon.ttf?-7rbvvc') format('truetype'),
		url('../fonts/icons/icomoon.svg?-7rbvvc#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	position: relative;
	top: 1px;
	line-height: 1;
	display: inline-block;
	color: #808080;


	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before{

}

[class^="icon-"]:hover, [class*=" icon-"]:hover{
	color: #c60c30;
}

.icon-anchor:before {
	content: "\c5";
}
.icon-arrDown:before {
	content: "\64";
}
.icon-arrUp:before {
	content: "\55";
}
.icon-arrLeft:before {
	content: "\3c";
}
.icon-arrRight:before {
	content: "\3e";
}
.icon-download:before {
	content: "\44";
}
.icon-ok:before {
	content: "\4f";
}
.icon-about:before {
	content: "\41";
}
.icon-aboutEn:before {
	content: "\42";
}
.icon-close:before {
	content: "\58";
}
.icon-events:before {
	content: "\65";
}
.icon-fb:before {
	content: "\46";
}
.icon-feedback:before {
	content: "\299";
}
.icon-in:before {
	content: "\206";
}
.icon-publishing:before {
	content: "\50";
}
.icon-search:before {
	content: "\53";
}
.icon-shop:before {
	content: "\73";
}
.icon-tickets:before {
	content: "\54";
}
.icon-tw:before {
	content: "\74";
}
.icon-visitors:before {
	content: "\56";
}
.icon-vk:before {
	content: "\76";
}
