html,
body{
	background-color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	line-height: 21px;
	-webkit-overflow-scrolling: touch;
}
a{
	color: #000;
}
a,
a:hover{
	text-decoration: none;
}
a:focus,
a:active,
a:hover,
a:hover > [class*=" icon-"],
a:hover > [class^="icon-"]{
	color: #c60c30;
	text-decoration: none;
}
a,img,.pic,p,h1,h2,h3,h4,h5,h6,ul,li,span,in  put,button,
a:hover,img:hover,.pic:hover,p:hover,h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover,ul:hover,li:hover,input:hover,button:hover{
		-o-transition-duration: 0.15s;
		-o-transition-property: color, background-color, border-color, opacity;

		-ms-transition-duration: 0.15s;
		-ms-transition-property: color, background-color, border-color, opacity;

		-moz-transition-duration: 0.15s;
		-moz-transition-property: color, background-color, border-color, opacity;

		-webkit-transition-duration: 0.15s;
		-webkit-transition-property: color, background-color, border-color, opacity;

		transition-duration: 0.15s;
		transition-property: color, background-color, border-color, opacity;
	}

blockquote{
	border: 0 none;
	font-size: inherit;
	padding: 0;
	position: relative;
}

		blockquote > div.col-xs-1{
			position: static !important;
		}

		blockquote > div.col-xs-1 > span.fs50{
			position: absolute;
			top: 50%;
			margin-top: -15px;
		}

.form-control::-webkit-input-placeholder {
	color: #b2b2b2 !important;
}
.form-control:-ms-input-placeholder { /* IE10+ */
	color: #b2b2b2 !important;
}
.form-control::-moz-placeholder {
	color: #b2b2b2 !important;
}

.form-control{
	font-family: 'Roboto Slab', serif;
	color: #000;
}

h1,h2,h3,h4,h5,h6,p{
	margin-top: 0;
}

h1{
	font-size: 54px;
	line-height: 81px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 300;
}
h2{
	font-size: 40px;
	line-height: 60px;
	font-weight: 400;
}
h3{
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
}
h4{
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
}
h5{
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
}
h6{
	font-size: 12px;
	line-height: 21px;
	font-weight: 700;
	margin-bottom: 0;
}

.icon-download{
	margin-right: 3px;
}

.fs50{
	font-size: 50px;
}

textarea{
	resize: vertical;
	max-height: 200px;
	min-height: 40px;
}

ul{
	padding-left: 18px;
}

.table>thead>tr>th{
	border-width: 3px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
	padding: 15px 20px 15px 0;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th{
	padding-top: 5px;
	padding-bottom: 5px;
}

.tableDiv{
	display: table;
}
		.tableDiv > div{
			display: table-cell;
		}

		.mw208{max-width: 208px;}
		.mw550{max-width: 550px;}
		.mwFull{max-width: 100%;}
		.v-a-b{
			vertical-align: bottom;
		}

.picWrap{
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
}

.table th{
	border-top: 0 none;
	border-bottom: 1px solid #e6e6e6;
	font-size: 12px;
	text-transform: uppercase;
}
.table td{
	border-top: 0 none;
	border-bottom: 1px solid #e6e6e6;
}

.row-fill.fill-black{
	background-color: #1b1b1b;
}

.row-fill.fill-grey{
	background-color: #e5e5e5;
	padding: 60px 0;
}

.list-style-disc{
	list-style-type: disc;
}
.list-style-decimal{
	list-style-type: decimal;
}

.text-black{
	color: #000;
}
.text-grey{
	color: #808080;
}
.text-red{
	color: #c60c30;
}

.btn-black{
	background-color: #000;
	border-radius: 4px;
	color: #fff;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}

.btn-grey{
	background-color: #e6e6e6;
	border-radius: 4px;
	color: #808080;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}
		.btn-black:active,
		.btn-grey:active,
		.btn-black:focus,
		.btn-grey:focus,
		.btn-black:hover,
		.btn-grey:hover{
			background-color: #c60c30;
			color: #fff;
		}

/*.checkbox label{*/
	/*padding-left: 0;*/
/*}*/

		/*.checkbox label:before {*/
			/*background: url("../img/checkBoxBg.png") no-repeat center top;*/
			/*content: "";*/
			/*display: inline-block;*/
			/*height: 16px;*/
			/*margin: 4px 5px -2px 0;*/
			/*width: 16px;*/
		/*}*/

				/*input[type="checkbox"]:focus + label:before,*/
				/*input[type="checkbox"]:checked + label:before{*/
					/*background-position: 0 -16px;*/
				/*}*/

.media > .pull-left{
	margin-right: 20px;
}

.form-control,
.form-control:hover,
.form-control:focus,
.form-control:active{
	box-shadow: none;
}

.form-control:focus,
.form-control:active{
	border-color: #000;
}

.close{
	position: relative;
	display: block;
	opacity: 1;
	text-shadow: none;
	text-align: center;
	font-size: 12px;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
		.close:before{
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			-webkit-transition-duration: 0.6s;
			-moz-transition-duration: 0.6s;
			-o-transition-duration: 0.6s;
			transition-duration: 0.6s;

			-webkit-transition-property: -webkit-transform;
			-moz-transition-property: -moz-transform;
			-o-transition-property: -o-transform;
			transition-property: transform;

		}
		.close:hover:before{
			-webkit-transform:rotate(270deg);
			-moz-transform:rotate(270deg);
			-o-transform:rotate(270deg);
		}
		.close:focus,
		.close:active,
		.close:hover{
			outline: none;
			opacity: 1;
		}

.close.close-white{
	color: #fff;
}

.close.close-grey{
	color: #808080;
}

.close.close-black.close-fill,
.close.close-grey.close-fill{
	background-color: #e6e6e6;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.close.close-black.close-fill{
	color: #808080;
	background-color: #000;
}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ NOTIFY MESSAGE ~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
.notifyMessage{
	background-color: #c60c30;
	min-height: 50px;
	overflow: hidden;
	z-index: 10;
}

		.notifyMessage .container{
			position: relative;
		}

		.notifyMessage p{
			color: #fff;
			text-align: center;
			padding: 13px 50px;
			margin-bottom: 0;
		}

		.notifyMessage .close{
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0;
			right: 0;
			line-height: 50px;
		}
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ HEADER ^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

header section .row > div.col-sm-4{
	padding-top: 35px;
	min-height: 145px;
}

header .lang{
	margin-top: 35px;
	width: 200px;
}

header .lang:hover {
	cursor: pointer;
}

header .lang,
header section .row > div.col-sm-4 > p:first-child{
	font-size: 12px;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	text-transform: uppercase;
}

		header section .row > div.col-sm-4.text-right > p{
			margin-bottom: 0;
		}

.logo img{
	max-height: 88px;
}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ MENU ^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
.navbar.navbar-default.affix{
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.modal-open .navbar.navbar-default.affix{
	right: 16px;
}

		.navbar.navbar-default.affix + div{
			padding-top: 71px;
		}

.navbar{
	background-color: rgba(255, 255, 255, 0.95);
	border: 0 none;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 0;
}

	.navbar-collapse.collapse,
	.headerMenu{
		padding: 0;
		margin-left: -15px;
	}

	.navbar .navbar-header .navbar-toggle{
		border-color: transparent;
	}
			.navbar .navbar-header .navbar-toggle:active,
			.navbar .navbar-header .navbar-toggle:focus,
			.navbar .navbar-header .navbar-toggle:hover{
				background-color: transparent;
			}
			.navbar-toggle .icon-bar{
				width: 16px;
			}
			.navbar-toggle:hover .icon-bar{
				background-color: #c60c30;
			}

	.navbar #btn-search{
		padding: 14px 18px;
	}

			.navbar #btn-search:active,
			.navbar #btn-search:focus,
			.navbar #btn-search:hover{
				outline: none;
			}

	#search{
		position: relative;
	}
	#search input{
		background-color: transparent;
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 8px;
		font-weight: 700;
		font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
	}
			#search input,
			#search input:active,
			#search input:active:focus,
			#search input:focus,
			#search input:hover{
				border: 0 none;
			}


	.nav.navbar-nav.text-center{
		width: 100%;
	}

			.navbar-default .navbar-nav > li{
				float: none;
				display: inline-block;
				//display : inline;
				zoom: 1;
			}

			.navbar-default .navbar-nav > li > a{
				color: #000;
				outline: none;
				padding-left: 18px;
				padding-right: 18px;
			}
					.navbar-default .navbar-nav li a{
						font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
						font-size: 12px;
						font-weight: 700;
						text-transform: uppercase;
					}

					.navbar-default .navbar-nav > li.active > a span,
					.navbar-default .navbar-nav > li.active > a{
						color: #c60c30;
					}

					.navbar-default .navbar-nav > li.active > a,
					.navbar-default .navbar-nav > li.active > a:hover{
						background-color: transparent;
						background-image: none;
					}

					.navbar-default .navbar-nav > li.active > a:hover{
						color: #c60c30;
					}

					.navbar-default .navbar-nav > li > a > span{
						font-size: 16px;
						color: #808080;
						float: left;
						margin-right: 5px;
					}

							.navbar-default .navbar-nav > li > a:hover > span{
								color: #c60c30;
							}

					.nav li.dropdown{
						position: static;
					}
									.nav .dropdown.active .menu-toggle,
									.navbar-default .navbar-nav .open>a.dropdown-toggle,
									.navbar-default .navbar-nav .open>a.dropdown-toggle:hover,
									.navbar-default .navbar-nav .open>a.dropdown-toggle:focus,
									.navbar-default .navbar-nav .open>a.dropdown-toggle:active,
									.navbar-default .navbar-nav .active>a.dropdown-toggle,
									.navbar-default .navbar-nav .active>a.dropdown-toggle:hover,
									.navbar-default .navbar-nav .active>a.dropdown-toggle:active,
									.navbar-default .navbar-nav .active>a.dropdown-toggle:focus{
										background-color: transparent;
										color: #c60c30;
										position: relative;
									}
									.navbar-default .navbar-nav .open>a.dropdown-toggle span,
									.navbar-default .navbar-nav .open>a.dropdown-toggle:hover span,
									.navbar-default .navbar-nav .open>a.dropdown-toggle:focus span,
									.navbar-default .navbar-nav .open>a.dropdown-toggle:active span,
									.navbar-default .navbar-nav .active>a.dropdown-toggle span,
									.navbar-default .navbar-nav .active>a.dropdown-toggle:hover span,
									.navbar-default .navbar-nav .active>a.dropdown-toggle:active span,
									.navbar-default .navbar-nav .active>a.dropdown-toggle:focus span{
										color: #c60c30;
									}

									.dropdown-menu{
										/*display: block;*/
										background-color: rgba(255, 255, 255, 0.95);
										text-align: center;
										border: 0 none;
										padding: 0;
										border-top: 1px solid #e5e5e5;
										border-bottom: 1px solid #e5e5e5;
										box-shadow: none;
										left: 0;
										right: 0;
										margin-top: 0;
									}
											.dropdown.open > .dropdown-menu,
											.dropdown.active > .dropdown-menu{
												display: block;
											}

											.dropdown.open > a.dropdown-toggle:before,
											.dropdown.active > a.dropdown-toggle:before{
												background-color: #c60c30;
												content: '';
												display: block;
												position: absolute;
												bottom: -1px;
												left: 0;
												right: 0;
												height: 1px;
												z-index: 1001;
											}

											.dropdown-menu li{
												display: inline-block;
											}

													.dropdown-menu li a{
														padding: 18px;
													}

															.dropdown-menu li a:hover{
																background-color: transparent;
																color: #c60c30;
															}

					.nav li.dropdown li.dropdown .row{
						text-align: left;
					}

							.nav li.dropdown li.dropdown .row{
								padding: 40px 0;
							}

							.nav li.dropdown li.dropdown .row ul li{
								display: block;
							}
							.navbar-default li.dropdown li.dropdown .row ul li a{
								padding: 0;
								display: block;
								font-size: 14px;
								text-transform: none;
								font-weight: 400;
								font-family: 'Roboto Slab', serif;
							}

.modal{
	background-color: rgba(255, 255, 255, 0.95);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.modal-open{
	overflow-x: auto;
}

		.modal .modal-dialog{
			margin: 0 auto;
		}

		.modal .modal-dialog .modal-content{
			background-color: transparent;
			border: 0 none;
			box-shadow: none;
		}

		.modal .modal-dialog .modal-content .modal-body{
			padding-top: 100px;
		}

		.modal .modal-dialog .modal-content .modal-body h3{
			margin-bottom: 10px;
		}

		.modal .modal-dialog .modal-content .modal-body ul.nav{
			margin: 10px 0 50px 20px;
		}
				.modal .modal-dialog .modal-content .modal-body ul.nav li h5,
				.modal .modal-dialog .modal-content .modal-body ul.nav li p{
					margin-bottom: 0;
				}

#siteMap .close{
	position: fixed;
	left: 25px;
	top: 20px;
}

.modal .close-fill{
	top: 40px;
	position: absolute;
	display: inline-block;
	z-index: 1;
}

/* контент сообщения по центру */
.modal .modal-dialog,
.modal .modal-content,
.modal .modal-body{
	text-align: center;
	height: 100%;
}

.modal .row {
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
//display:inline;
	text-align: left;
}

.modal .helper {
	display:-moz-inline-box;
	display:inline-block;
	height:100%;
	width: 0;
	vertical-align:middle;
	zoom:1;
//display:inline;
}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ CAROUSEL ~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
.carousel{
	position: relative;
	overflow: hidden;
	margin-bottom: 100px;
}

		.carousel .item{
			background-color: transparent;
			min-height: 451px;
		}

				.carousel .item .row{
					margin-right: 0;
					margin-left: 0;
				}

				.carousel .item .carousel-caption{
					position: relative;
				}

				.carousel .item .carousel-caption h2{
					white-space: nowrap;
					z-index: 10;
				}

				.carousel .carousel-caption{
					left: auto;
					right: auto;
					text-align: left;
				}

				.carousel .carousel-caption p{
					color: #000;
					text-shadow: none;
					margin-bottom: 0;
				}
				.carousel .carousel-caption span{
					color: #000;
					font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
					font-size: 12px;
					font-weight: 700;
					text-shadow: none;
					text-transform: uppercase;
				}
				.carousel .carousel-caption h2{
					color: #000;
					font-size: 40px;
					line-height: 60px;
					text-shadow: none;
				}
				.carousel .carousel-caption h2 + p{
					white-space: nowrap;
				}

				.carousel .item .row:first-child .col-xs-10{
					border-radius: 5px;
					background-color: #000;
					overflow: hidden;
					padding: 0;
				}

				.carousel .item .col-xs-10 img{
					max-width: 100%;
					opacity: 0.9;
				}
						.carousel .item:hover .col-xs-10 img{
							opacity: 0.5;
						}

.carousel .carouselBar{
	position: absolute;
	top: 434px;
	left: -10px;
	height: auto;
}
		.carousel .carouselBar a{
			background-image: none;
			display: block;
			width: auto;
			color: #000;
			font-size: 14px;
			text-shadow: none;
			position: static;
			opacity: 1;
			text-align: left;
		}
		.carousel .carouselBar hr{
			position: relative;
			height: 2px;
			background-color: #808080;
			width: 0;
			margin: 0;
			border: none;
			z-index: 1;
		}

/* fade styles slide */
.carousel .item{
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	left: 0 !important;
}

.carousel .item.active{
	opacity: 1 !important;
}

.carousel .item.left{
	opacity: 0 !important;
	-webkit-transition: opacity 0.3s ease-in-out !important;
	-moz-transition: opacity 0.3s ease-in-out !important;
	-ms-transition: opacity 0.3s ease-in-out !important;
	-o-transition: opacity 0.3s ease-in-out !important;
	transition: opacity 0.3s ease-in-out !important;
}

.carousel .carousel-control {
	opacity: 1 !important;
}

#indexCarousel .col-xs-2{
	width: 114px;
}

#indexCarousel .col-xs-10{
	width: 798px;
}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ EVENTS v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

.events .col-xs-4.text-right span{
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}

		.events .col-xs-4.text-right span a{
			padding-right: 3px;
			display: block;
		}

.events .row-fill{
	background-color: #ecebe5;
}

.events .row .col-xs-6.col-sm-6.col-md-6 .row{
	padding: 10px 0;
}

.events .col-xs-8.col-sm-8.col-md-8 p{
	margin-bottom: 0;
}
	.events .col-xs-8.col-sm-8.col-md-8 p a{
		display: inline-block;
		line-height: 21px;
	}

.events .eventTag{
	display: block;
}

.events .btn-grey{
	margin-top: 4px;
}

.eventsFilter h2 .text-red{
	border-bottom: 1px dashed #c60c30;
}

.filterYears{
	vertical-align: inherit;
}
		.filterYears.open .text-red{
			border: 0 none;
		}

		.filterYears.open a.dropdown-toggle,
		.filterYears.open a.dropdown-toggle,
		.filterYears.open a.dropdown-toggle:focus,
		.filterYears.open a.dropdown-toggle:active{
			box-shadow: none;
		}

		.filterYears.open .dropdown-menu{
			background-color: #fff;
			border: 1px solid #ccc;
			box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
			padding: 5px 0;
			min-width: 50px;
			width: 88px;
		}
				.filterYears.open .dropdown-menu:after,
				.filterYears.open .dropdown-menu:before{
					border: 5px solid #cccccc;
					border-top: 0 none;
					border-right-color: transparent;
					border-left-color: transparent;
					position: absolute;
					content: '';
					display: block;
					width: 0;
					height: 0;
					top: -5px;
					left: 50%;
					margin-left: -5px;
				}

				.filterYears.open .dropdown-menu:after{
					border: 5px solid #fff;
					border-top: 0 none;
					border-right-color: transparent;
					border-left-color: transparent;
					top: -4px;
				}

				.filterYears.open .dropdown-menu ul{
					max-height: 145px;
					overflow-y: auto;
					padding: 0;
					margin: 0;
					text-align: left;
				}

				.filterYears.open .dropdown-menu li{
					display: block;
					line-height: 21px;
					font-size: 14px;
				}
				.filterYears.open .dropdown-menu li a{
					display: block;
					padding: 0 10px;
					line-height: 21px;
				}
				.filterYears.open .dropdown-menu li.active a{
					color: #c60c30;
				}

				.filterYears.open .dropdown-menu li a:hover{
					background-color: #e6e6e6;
					color: #000;
				}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~ PERMANENT EXHIBITION v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

.permanentExhibition{
	margin-bottom: 100px;
}

.permanentExhibition span{
	display: block;
}
		.permanentExhibition span a{
			display: inline-block;
		}

		.virtualTour{
			background: url('../img/virtualThumb.png') no-repeat 0 0;
			display: inline-block;
			width: 282px;
			height: 286px;
		}

				.virtualTour:hover{
					background-position: 0 -286px;
				}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^ NEWS v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

.news{
	margin-bottom: 50px;
}

.news>div>div>div h6{
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: 700;
}
		.news .kindLg{width: 550px;margin: 0 20px 20px 0;padding: 0;overflow:hidden;}
		.news .kindMd{width: 322px;margin: 0 20px 20px 0;padding: 0;}
		.news .kindSm{width: 208px;margin: 0 20px 20px 0;padding: 0;}

		.news .picWrap{
			background-color: #000;
			border-radius: 4px;
			overflow: hidden;
		}

		.news .kindLg .picWrap{
			/*new*/
			display: block;
			/*new*/
		}

		.news .pic{
			border-radius: 4px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			display: block;
			opacity: 0.9;
		}
				.news .kindLg:hover .pic
				/*.news .kindMd:hover .pic,*/
				/*.news .kindSm:hover .pic*/{
					opacity: 0.5;
				}

				.news .kindMd:hover h5,
				.news .kindSm:hover h5{
					color: #c60c30 !important;
				}


				.news .kindLg .pic{
					width: 550px;
					height: 550px;
				}

				.news .kindMd .picWrap{
					margin-bottom: 10px;
				}

				.news .kindMd .pic{
					width: 322px;
					height: 322px;
				}

				.news .kindSm .picWrap,
				.news .kindMd .picWrap{
					margin-bottom: 10px;
				}
				.news .kindSm .pic{
					width: 208px;
					height: 208px;
				}
						.news .kindLg .textContainer{
							/*new*/
							background-color: rgba(0, 0, 0, 0.3);
							box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3);
							/*new*/
							
							position: absolute;
							left: 15px;
							right: 15px;
							bottom: 0;
							text-align: center;
						}
						.news .kindLg h6,
						.news .kindLg h3,
						.news .kindLg p{
							color: #fff;
						}
						.news .kindLg p{
							margin-bottom: 20px;
						}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^ QUIZ v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

.quiz{
	background-color: #e6e6e6;
	padding: 35px 0;
}

		.quizInfo{
			padding: 20px 0;
		}

				.quizInfo .col-xs-12 > div{
					background-color: #c60c30;
					margin: 0 0 10px;
					height: 2px;
				}


/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ PARTNERS v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

.partners{
	padding: 40px 0 20px;
}

		.partners .col-xs-2{
			padding-left: 0;
			padding-right: 0;
			margin-right: 20px;
			margin-bottom: 20px;
			position: relative;
			width: 94px;
			height: 94px;
		}

				.partners .col-xs-2 img{
					margin: auto;
					max-width: 100%;
					max-height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
				}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ CONTACTS v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

.contacts p{
	margin-bottom: 20px;
}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ ANCHORBAR v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
.anchorBar{
	text-align: left;
}
.anchorBar>a.icon-anchor,
.anchorBar>.dropdown>a,
.anchorBar .dropdown .dropdownWrap{
	border-radius: 25px;
	background-color: #ffe580;
	padding: 18px;
	min-width: 50px;
	min-height: 50px;
}
		.anchorBar .dropdown>a{
			padding-right: 48px;
		}
		.anchorBar .dropdown .dropdown a.anchorToggle{
			padding-right: 30px;
		}

		.anchorBar .dropdown:before{
			display: block;
			content: '';
			width: 100%;
			height: 20px;
		}

		.anchorBar a:hover>span,
		.anchorBar a:hover{
			color: #000;
		}
		.anchorBar .dropdown a.anchorToggle{
			display: block;
			white-space: nowrap;
			font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 700;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.anchorBar .dropdown{
			display: none;
			position: absolute;
			/*margin-top: 20px;*/
			top: 100%;
			right: 0;
		}
		.anchorBar .dropdown .dropdown{
			width: 400px;
		}
				.anchorBar:hover>.dropdown,
				.dropdown:hover>.dropdown{
					display: block;
				}
		.anchorBar .icon-anchor{
			color: #000;
		}
				.anchorBar .dropdown .icon-anchor:before{
					margin-right: 5px;
				}
				.anchorBar a>[class^="icon-arr"],
				.anchorBar a>[class*=" icon-arr"]{
					color: #000;
					float: right;
					font-size: 8px;
					line-height: 19px;
					margin-right: -30px;
				}

		.anchorBar .dropdown ul{
			padding: 0 20px 20px 20px;
		}
		.anchorBar .dropdown ul li{
			margin-top: 20px;
		}
		.anchorBar .dropdown ul li a{
			color: #000;
			border-bottom: 1px dashed #000;
		}
		.anchorBar .dropdown ul li a:hover{
			color: #000;
		}
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ PRICE v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
.price{
	position: relative;
}
.price ul{
	list-style-type: none;
	padding: 0;
}
.price p{
	margin-bottom: 20px;
}
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ SEARCH v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
.searchFilter{
	list-style-type: none;
	padding: 0;
}
		.searchFilter li{
			display: inline-block;
			margin-right: 20px;
		}

		.searchFilter li.active .btn{
			background-color: #c60c30;
			color: #fff;
		}

.searchItem{
	margin-bottom: 30px;
}

.searchItem h5{
	margin-bottom: 0;
}
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ MAIN  v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

.dataItem{
	position: relative;
	display: block;
	font-weight: 700;
	font-size: 12px;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	text-transform: uppercase;
}

		.mainItem  .dataItem{
			margin-top: 14px;
			max-width: 100px;
		}

		.dataItem[data-lableSoon]:before{
			cursor: default;
			content: ''attr(data-lableSoon)'';
			color: #808080;
			display: inline-block;
			border-radius: 4px;
			border:1px solid #808080;
			padding: 2px 5px;
			line-height: 16px;
		}

				.dataItem[data-position="bottom"]:before{
					position: absolute;
					margin-top: 20px;
					top: 100%;
				}

				.dataItem[data-position="top"]:before{
					position: absolute;
					margin-bottom: 20px;
					bottom: 100%;
				}

				.dataItem[data-position="left"]:before{
					margin-right: 10px;
				}

				.dataItem[data-position="right"]:before{
					float: right;
					margin-left: 10px;
				}


.mainCont .thumbItem,
.mainItem .thumbItem{
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	margin-bottom: 20px;
	max-width: 100%;
}
		.mainCont .thumbItem > img,
		.mainItem .thumbItem > img{
			max-width: 100%;
		}

.mainCont .thumbItem{
	margin-bottom: 10px;
}

.mainCont h6{
	font-size: 12px;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	text-transform: uppercase;
}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ FOOTER v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

footer{
	background-color: #ebe7d8;
}

		footer [class^="icon-"],
		footer [class*=" icon-"]{
			font-size: 16px;
		}

		footer a{
			font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
			font-size: 16px;
		}

		footer a:hover{
			color: #000;
		}

		footer table th,
		footer table td{
			width: 50%;
		}

		footer table th{
			color: #808080;
			font-weight: 400;
		}

.socLink{
	margin-right: 10px;
}

.icon-siteExpo{
	color: #000;
}



/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^ GALLERY v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

.containerGallery .blueimp-gallery{
	background-image: none;
	/*background-color: transparent;*/
	background-color: rgba(27, 27, 27, 0.9);
}

.containerGallery .modal .modal-footer,
.containerGallery .modal .modal-header{
	border: 0 none;
}

/*.containerGallery .modal .modal-dialog,*/
/*.containerGallery .modal .modal-content,*/
.containerGallery .modal .modal-body{
	height: auto;
}

.containerGallery .modal{
	/*background-color: rgba(27, 27, 27, 0.9);*/
	background-color: transparent;
}

.containerGallery .modal .modal-header{
	min-height: 95px;
	padding: 0;
}
		.containerGallery .modal .modal-header .close{
			margin: 0 auto;
			left: 0;
			right: 0;
		}

.containerGallery .modal .modal-content{
	/*max-height: 650px;*/
}

.containerGallery .modal .modal-dialog{
	width: auto;
	min-width: 320px;
	max-width: 1200px;
}

.containerGallery .modal .modal-dialog .modal-content .modal-body{
	background-color: #000;
	padding: 0;
	width: 910px;
	/*max-height: 540px;*/
	height: 540px;
	margin: 0 auto;
}
		.containerGallery .modal .modal-dialog .modal-content .modal-body img{
			margin: auto;
			max-width: 100%;
			max-height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}

.containerGallery .modal .modal-footer{
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	width: 910px;
	margin: 0 auto 40px;
	text-align: left;
}

		.containerGallery .modal .modal-footer .btn{
			background-color: #000;
			border-radius: 4px;
			position: absolute;
			top: 50%;
			margin-top: -30px;
			width: 40px;
			height: 60px;
		}

				.containerGallery .modal .modal-footer .btn.prev{
					left: 0;
				}
				.containerGallery .modal .modal-footer .btn.next{
					right: 0;
				}

.containerGallery #links > div{
	border-radius: 5px;
	margin: 0 20px 20px 0;
	width: 94px;
	height: 94px;
	overflow: hidden;
}

		.containerGallery #links > div img{
			bottom: 0;
			left: 0;
			margin: auto;
			max-height: 100%;
			max-width: 100%;
			position: absolute;
			right: 0;
			top: 0;
		}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^ SEPARATORS v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

.mt0{margin-top: 0;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt70{margin-top: 70px;}
.mr0{margin-right: 0;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mr30{margin-right: 30px;}
.mb0{margin-bottom: 0;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb70{margin-bottom: 70px;}
.mb90{margin-bottom: 90px;}
.ml0{margin-left: 0;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}
.ml30{margin-left: 30px;}
.pl0{padding-left: 0;}
.pl5{padding-left: 5px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pr0{padding-right: 0;}
.pr5{padding-right: 5px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}

/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^ FONTS v~^v~^v~^v~^v~^v~^v~^v*/
/*~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v~^v*/

@font-face {
	font-family: 'siteExpo';
	src:url('/assets/fonts/siteExpoIcon/siteExpo.eot?-2rpk4o');
	src:url('/assets/fonts/siteExpoIcon/siteExpo.eot?#iefix-2rpk4o') format('embedded-opentype'),
	url('/assets/fonts/siteExpoIcon/siteExpo.woff?-2rpk4o') format('woff'),
	url('/assets/fonts/siteExpoIcon/siteExpo.ttf?-2rpk4o') format('truetype'),
	url('/assets/fonts/siteExpoIcon/siteExpo.svg?-2rpk4o#siteExpo') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-siteExpo {
	font-family: 'siteExpo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

/*	 Better Font Rendering ===========*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-siteExpo:before {
	content: "\21";
}


.textContainer h3 a, .textContainer h3 a:hover {
	color: #fff;
}
