@font-face {
	font-family: 'siteexpo_logo';
	src:url('/assets/admin/fonts/siteexpo_logo.eot?-6mmgfn');
	src:url('/assets/admin/fonts/siteexpo_logo.eot?#iefix-6mmgfn') format('embedded-opentype'),
	url('/assets/admin/fonts/siteexpo_logo.woff?-6mmgfn') format('woff'),
	url('/assets/admin/fonts/siteexpo_logo.ttf?-6mmgfn') format('truetype'),
	url('/assets/admin/fonts/siteexpo_logo.svg?-6mmgfn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.siteexpo-logo {
	font-family: 'siteexpo_logo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	transition: color 0.2s ease-in;
}

.siteexpo-logo:before {
	content: "\e600";
}

body { background-color: #7b091f !important; }

.nowrap { white-space: nowrap; }

strong { font-weight: 600; }

h1.main-title { margin-bottom: 0; font-size: 24px; }
.admin-logo { color: #fff; font-size: 19px; }

li.nav-header { padding: 19px 25px 18px 25px; border-bottom: 1px solid #394958; }

.welcome-message strong { color: #293846; }

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.site-logo { margin-left: 12px; padding-top: 13px; }
.site-logo > span { line-height: 30px; vertical-align: middle; margin-left: 5px; }

.navbar-default li.nav-header { background: url('/assets/admin/i/header-profile.png') no-repeat; border-bottom: 1px solid #590112 !important; }
.navbar-default ul.nav > li > a { color: #fff; padding-right: 10px; }
.navbar-default .nav > li.active { background: #4f0112 !important; border-left: 4px solid #fff; }
.navbar-default .nav > li.active li { border-left: none; }

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
	background-color: #4f0112 !important;
	color: white;
}

.navbar-default li.active ul { display: block; }
.navbar-default li ul { display: none; }
.navbar-default li a .arrow { position: relative; top: 3px; }

.navbar-default .nav-second-level { background-color: #4f0112 !important; }

.pace .pace-progress { background: #7b091f; }

table.table tbody td.thin { width: 1%; white-space: nowrap; }

ol.breadcrumb { margin-top: 10px; }
ol.breadcrumb li a { color: #ed5565; }
ol.breadcrumb li a:hover { text-decoration: underline; }

.switch-cell { width: 1%; font-size: 10px !important; text-align: right; }
.switch-cell .switchery { width: 30px; height: 15px; }
.switch-cell .switchery > small { width: 15px; height: 15px; }

tr.inactive { opacity: 0.5; }
.items-table tbody tr { -webkit-transition: opacity .15s ease-in-out; -moz-transition: opacity .15s ease-in-out; -ms-transition: opacity .15s ease-in-out; -o-transition: opacity .15s ease-in-out; transition: opacity .15s ease-in-out; }

.form-control:focus { border-color: #a0a0a0; }

.file-upload { position: relative; }
.file-upload input[type="file"] { width: 100%; height: 100%; position: absolute; top: 0; left: 0; cursor: pointer; opacity: 0; }

.upload-wrap .progress { height: 5px; }

.progress-bar-grey { background-color: #CECECE; }

.form-success { display: none; }

#item-pic { padding-bottom: 15px; position: relative; }
#item-pic img { width: 250px; }
.delete-pic { top: 0; position: absolute; margin-left: 5px; }

ul.page-tabs.nav-tabs { border: none !important; }
ul.page-tabs.nav-tabs li { border: none; }
ul.page-tabs.nav-tabs li.active a { background: #fff !important; border: none !important; }
ul.page-tabs.nav-tabs > li.active > a, ul.page-tabs.nav-tabs > li.active > a:hover, ul.page-tabs.nav-tabs > li.active > a:focus { border: none !important; }

.title-btn-wrap { margin-top: -11px; margin-left: 20px; white-space: nowrap; }
.title-btn-wrap .btn { margin-left: 10px; }

.modal-content { border-radius: 0 !important; }
.input-group select { min-width: 50px; }

.lecture-date-action { padding-top: 7px; }

#select-lectures-list { display: none; }

.btn-outline { transition: all .2s !important; }

.date-row { margin-bottom: 10px; }

#lectures-list tr { cursor: pointer; }

#pollanswers-list { margin-top: 28px; }
#pollanswers-list li { margin: 40px 0 20px 0; }
#pollanswers-list li .row { margin-top: -24px; }

.add-answer-wrap { padding-top: 7px; }

button[data-action="delete"] { margin-bottom: 0 !important; }

/* Editor */
.mce-path { display: none !important; }
.mce-window { width: 500px !important; }
.mce-combobox { left: 154px !important; width: 294px !important; }
.mce-textbox { left: 154px !important; width: 294px !important; }
.mce-label { width: 150px !important; }
.mce-listbox { left: 154px !important; width: 302px !important; }
.mce-textbox.mce-multiline { left: 20px !important; width: 450px !important; }
div[aria-label="Source code"] .mce-foot { width: 500px !important; }
div[aria-label="Source code"] .mce-container-body { width: 500px !important; }
div[aria-label="Source code"] .mce-widget.mce-last { left: 393px !important; }
div[aria-label="Source code"] .mce-widget.mce-first { left: 335px !important; }

/* Templates list */
#item-templates-list { margin-top: 10px; }
#item-templates-list li { overflow: hidden; white-space: nowrap; }
#item-templates-list i.fa-circle { margin-right: 10px; cursor: move; }
#item-templates-list b.template-type { margin-right: 10px; }
#item-templates-list .template-content { white-space: nowrap; overflow: hidden; }
#item-templates-list .template-content * { display: inline; }
#item-templates-list .btn { margin-bottom: 0; margin-left: 5px; }